/*#region card */
.card-clickable:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.imgage-card {
    height: 60%;
    object-fit: cover;
}

.custom-badge {
  background-color: var(--cor-principal); 
  color: white;
}

.custom-card {
  width: 25rem;
  height: 20rem;
  cursor: pointer;
  overflow: hidden;
 /*background-color: #e8f0fb;*/ 
}

.card-title {
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* #endregion */