.btn-active {
  background-color: var(--cor-principal) !important;
  color: white !important;
  border: 1px solid var(--cor-principal) !important;
}

.btn-color {
    background-color: var(--cor-principal) !important;
}

.btn-color:hover {
    background-color: var(--cor-secundaria) !important;
}

.btn-outline-custom {
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal)!important;
    background-color: transparent;
}

.btn-outline-custom:hover {
    background-color: var(--cor-secundaria)!important;
    color: white;
}

.img-profile {
    max-height: 360px;
}