
.card-container {
  position: relative;
  z-index: 100;
  height: 100%;
  margin-top: -110px;
}

.sticky-card {
  position: sticky;
  top: 20px; 
  transition: all 0.2s ease;
}


.bg-custom-light{
  background-color: #e6f2ff;
  height: auto;
  padding: 10px;
}
