/* #region header */
header{
  height: 80px;
  position: fixed;
  z-index: 1001;
  background-color: #ffff;
}

.image-border{
    border-radius: 100%;
    border: solid 1px var(--cor-principal);
}

.profile-dropdown {
  width: 300px;
  border-radius: 16px;
  border-top-right-radius: 0px;
}

.profile-dropdown .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.profile-dropdown .dropdown-item svg {
  font-size: 1.2rem;
}

.profile-dropdown .dropdown-item:hover {
  background-color: #f1f3f5;
  color: var(--cor-secundaria);
}

.profile-dropdown hr {
  border-top: 1px solid #000000;
  margin: 1px;
  margin-bottom: 10px;
}
/* #endregion */

