:root {
  --cor-principal: #3b5b84;
  --cor-secundaria: #00A9E0;
}

.sidebar{
    width: 16.6667%; /* valor no css equivalente a col-2 no bootstrap */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar.collapsed{
    width: 90px;
}

.main-container{
    width: calc(100% - 16.6667%);
}

.main-container.collapsed{
    width: calc(100% - 90px);
}

.nav-link {
    color: black !important;
    border-radius: 20px;
    text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(59, 91, 132, 0.1);
  color: black;
}

.nav-link.active{
    background-color: var(--cor-principal);
    color: white !important;
}

.image-border{
    border-radius: 100%;
    border: solid 1px var(--cor-principal);
}