/* */
.enrollment-card {
  border-radius: 12px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem; 
  border: 1px solid #dee2e6;
}

.enrollment-image-vertical {
  height: 300px; 
  object-fit: cover;
  object-position: center;
}

.enrollment-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.detail-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail-icon {
  font-size: 1.5rem;
}

.detail-label {
  font-weight: 600;
  display: block;
}

@media (max-width: 767.98px) {
  .enrollment-image {
    max-height: 200px;
  }
}