/* #region card */
.card-highlight {
    background-color: #ffffff;
    height: 350px;
    overflow: hidden;
}

.highlight-image {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    width: 35px;
    height: 35px;
}


.card-body {
  flex: 1;
  padding: 1rem;
  overflow: hidden;
}

.truncate-text {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart-icon{
  font-size: 28px;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.heart-icon:hover {
  transform: scale(1.1);
}

/* #endregion */
