/* */

.card-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.sticky-card {
  position: sticky;
  top: 90px;
  z-index: 10; 
  transition: all 0.2s ease;
}


.line-bg{
    background-color: var(--cor-secundaria-rgba) !important;
}