.otp-container{
    display:flex;
    justify-content: space-between;
}

.otp-input{
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 16px;
}