.card-stat {
  color: white;
  height: 100%;
  border: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card-cursos {
  background: linear-gradient(135deg, #b57edc, #a066c9);
}

.card-utilizadores {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.card-forum {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.card-queixas {
  background: linear-gradient(135deg, #ff6a6a, #ff4757);
}

.card-stat::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: -50px;
  right: -50px;
  z-index: 0;
}

.card-stat:hover {
  transform: scale(1.05);

}

/* garante que o texto aparece a frente da bolinha */
.card-stat > * {
  position: relative;
  z-index: 1;
}
